@{
    Layout = "~/Layouts/_Layout.cshtml";
}

    <div>
        
        @RenderPage("~/Pages/_LoginPartial.cshtml")
    </div>

    <div>
        @RenderPage("~/Pages/_MenuPartial.cshtml")
    </div>

    <div>
        @RenderPage("~/Pages/_ContentPartial.cshtml")
    </div>