@{
    Layout = "~/Layouts/_Layout.cshtml";
}

<div class="dialogPage">

    <div class="loginHead">
        Fatal Error
    </div>
    
    <div class="loginHead">
        Most likely, this happened for one of the following reasons:
        the page moved, the page is no longer there, or You just like to study error pages
    </div>

    <div class="loginButton">
        <a href="~/">Home page</a>
    </div>

</div>