@using FoodJournal.Dependences;
@using FoodJournal.BLL.Interfaces;

@{
    Layout = null;
    IAccountBLL accountBLL = DependencyResolver.AccountBLL;
}

    <div class="login">

        @if (User.Identity.IsAuthenticated)
        {
            <div class="loginField">Hello, @User.Identity.Name</div>

            if (!User.IsInRole("admin"))
            {
                foreach (var account in accountBLL.GetAll().ToList())
                {
                    if (User.Identity.Name == account.Login)
                    {
                        <div class="loginButton"><a href="~/Pages/UserPages/EditAccount.cshtml?id=@account.ID">Profile settings</a></div>
                    }
                }
            }

            <div class="loginButton"><a href="~/Pages/SignOut.cshtml">Sign Out</a></div>
        }

        else
        {
            <div class="loginField">Hello, guest!</div>
            <div class="loginButton"><a href="~/Pages/SignIn.cshtml">Sign In</a></div>
        }

    </div>