@{
    Layout = null;
}

<div class="menu">
    <nav>
        <ul>
            <li><a href="~/Pages/MenuPages/Category.cshtml?category=Fruits">Fruits</a></li>
            <li><a href="~/Pages/MenuPages/Category.cshtml?category=DriedFruits">Dried fruits</a></li>
            <li><a href="~/Pages/MenuPages/Category.cshtml?category=Vegetables">Vegetables</a></li>
            <li><a href="~/Pages/MenuPages/Category.cshtml?category=Mushrooms">Mushrooms</a></li>
            <li><a href="~/Pages/MenuPages/Category.cshtml?category=Grocery">Grocery</a></li>
            <li><a href="~/Pages/MenuPages/Category.cshtml?category=Nuts">Nuts</a></li>
            <li><a href="~/Pages/MenuPages/Category.cshtml?category=BakeryProducts">Bakery products</a></li>
            <li><a href="~/Pages/MenuPages/Category.cshtml?category=Sweets">Sweets</a></li>
            <li><a href="~/Pages/MenuPages/Category.cshtml?category=MilkProducts">Milk products</a></li>
            <li><a href="~/Pages/MenuPages/Category.cshtml?category=FishAndSeafood">Fish and seafood</a></li>
            <li><a href="~/Pages/MenuPages/Category.cshtml?category=Meat">Meat</a></li>
            <li><a href="~/Pages/MenuPages/Category.cshtml?category=FastFood">Fast food</a></li>
        </ul>
    </nav>
</div>