
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Styles/head.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/menu.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/products.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/container.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/crud.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/modal.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/logIn.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/admin.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/users.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/dialogPage.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/search.css" />
    <title></title>
</head>

<body>
    <div class="header">
        <a href="~/index.cshtml"><label>FOOD JOURNAL</label></a>
    </div>

    <div>
        @RenderBody()
    </div>
    
</body>
</html>