@using FoodJournal.Dependences;
@using FoodJournal.BLL.Interfaces;

@{
    Layout = "~/Layouts/_Layout.cshtml";
    string id = Request.QueryString["ID"];
    string productName = "";
    double calorific = 0;
    int netMass = 0;
    string requestID = "";
    IDishBLL dishBLL = DependencyResolver.DishBLL;

    if (!IsPost)
    {
        foreach (var product in dishBLL.GetAll().ToList())
        {
            if (Request.QueryString["ID"] == product.ID.ToString())
            {
                requestID = product.ID.ToString();
                productName = product.Name;
                calorific = product.Calorific;
                netMass = product.NetMass;
            }
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        requestID = Request.Form["requestID"];
        dishBLL.DeleteById(Int32.Parse(requestID));
        Response.Redirect("~/Pages/UserPages/Dish.cshtml");
    }
}



<form class="dialogPage" action="~/Pages/UserPages/DeleteDishElement.cshtml" enctype="multipart/form-data" method="post">

    <div>
        <label class="loginHead">Delete product</label>
        <div>
            <div class="loginField">@productName</div>
        </div>
    </div>

    <div>
        <div class="loginField">Calorific: @calorific</div>
    </div>

    <div>
        <div class="loginField">Net Mass: @netMass</div>
    </div>

    <div>
        <div>
            <input type="hidden" name="requestID" value="@requestID" />
            <input class="loginButton" type="submit" name="buttonDelete" value="Delete" />
        </div>
    </div>

</form>