@using FoodJournal.Dependences;
@using FoodJournal.BLL.Interfaces;

@{
    Layout = "~/Layouts/_Layout.cshtml";
    IDishBLL dishBLL = DependencyResolver.DishBLL;
    double totalCalorific = dishBLL.GetCalorificSum();
}

<form action="~/Pages/AdminPages/ViewRoles.cshtml" method="post">
    <div class="totalCalorific">
        Total calorific, kcal: @totalCalorific
    </div>

    <div class="totalCalorific">
        <a href="~/Pages/UserPages/DeleteDishAll.cshtml">Delete all</a>
    </div>

    <div class="container">

        @foreach (var product in dishBLL.GetAll().ToList())
        {
            double elementCalorificSum = dishBLL.GetCalorificSumElements(product.Calorific, product.NetMass);

            <div class="users">
                <ol>@product.Name</ol>
                <ul>
                    <li>Calorific,  kcal: @product.Calorific</li>
                    <li>Net Mass, g: @product.NetMass</li>
                    <li>Total calorific, kcal: @elementCalorificSum</li>
                </ul>

                <div>
                    <a href="~/Pages/UserPages/DeleteDishElement.cshtml?id=@product.ID"><img src="~/Images/trash.png"></a>
                </div>

            </div> 
        }

    </div>
</form>